.header {
    padding: 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.header h1 {
    color: #fff;
    font-size: 24px;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #1f1f1f;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

h1 {
    text-align: center;
    color: #fff;
}

#form-room {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #444;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    box-sizing: border-box;
}

.btns {
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #45a049;
}
